<h1>New Tennisball</h1>
<form ng-submit="createTennisball()">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" ng-model="tennisball.title">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" ng-model="tennisball.description"></textarea>
    </div>
    <div class="form-group">
        <label for="image">Image Link</label>
        <input type="url" class="form-control" id="image" placeholder="" ng-model="tennisball.image">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
